/* Additional Styles */
.card-img,
.mountains {
    width: 100%;
}

/* Body and Header */
body {
    background-color: #31493C;
    margin: 8px;
    margin-top: auto;
    font-size: 22px;
}

.book:hover {
    color: gray;
}

.button-box {
    text-align: center;
    line-height: 2em;
}

.button-box button {
    background-color: #CC6600;
    font-size: 3em;
    height: 50%;
    margin: 1em;
    width: 75%;
}

/* Footer */
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Hero Section */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
    height: 110%;
}

#hero-msg {
    grid-column: 1/6;
    grid-row: 1/3;
    margin-top: 100px;
    text-align: center;
    color: white;
    align-self: flex-end;
}

/* Main Section */
main {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

main section {
    text-align: center;
}

.msg {
    background-color: #6f7364;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fcfbfb;
    padding: 35px;
    text-align: center;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

/* Overrides */
body {
    background-color: #fcfbfb;
    font-family: 'Times New Roman', Times, serif Arial, sans-serif;
}

.icon {
    width: 80px;
}

.join {
    color: gray;
}

.join:hover {
    background-color: black;
}

/* Cards in Main Section */
.rapids-card {
    grid-column: 8 / span 2;
    grid-row: 2 / span 1;
}

.rivers-card {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

#background {
    grid-column: 1 / span 11;
    grid-row: 4 / span 6;
}

.camping-card {
    grid-column: 5 / span 2;
    grid-row: 2 / span 1;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* Header */
header {
    background-color: rgba(20, 30, 13, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    align-self: center;
    justify-self: center;
    padding-top: 5px;
}

.logo {
    width: 80px;
}

/* Links in Navigation */
nav a:hover {
    background-color: black;
    color: gray;
}

/* Links in Footer */
p a {
    color: black;
}

.book,
.join {
    background-color: #d9c2a3;
    color: black;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav,
    footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}




